<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<script type="application/x-social-share-privacy-settings">
  {"path_prefix":"/",
    "layout":"line",
      "services":{
        "hackernews":{"status":false},
        "linkedin":{"status":false},
        "mail":{"status":false},
        "pinterest":{"status":false},
        "reddit":{"status":false},
        "stumbleupon":{"status":false},
        "tumblr":{"status":false},
        "xing":{"status":false},
        "flattr":{"uid":"cyberkov"},
        "disqus":{"status":false}
       }
  }
</script>
